@mixin textSecondary($fw, $fs, $lh, $color) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
  font-family: "Montserrat", sans-serif;
}

@mixin textPrimary($fw, $fs, $lh, $color) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
  font-family: "Open Sans", sans-serif;
}
