*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
body {
  @include textFont(400, 15px, 18px, $colorGray);
}
input[type="text"],
input[type="email"],
textarea {
  @include textFont(400, 15px, 18px, $colorWoodsmoke);
  letter-spacing: -0.4px;
}
/* Header */
.head {
  border-bottom: 1px solid #ffe600;
}
.header-wrapper {
  width: 100%;
  height: 100vh;
  background: $backgroundJumbo;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-main {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 53px;
      letter-spacing: -0.2px;
    }

    strong {
      @include textFont(300, 40px, 42px, $colorTurbo);
      text-transform: uppercase;
      margin-bottom: 119px;
      letter-spacing: 2px;
      text-align: center;
      padding: 0 40px;
      @include media(">=992px") {
        padding: 0 20px;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: #fff;
      min-width: 232px;
      height: 62px;
      border: 1px solid $colorTurbo;
      text-decoration: none;
      position: relative;
      padding: 0 10px;
      letter-spacing: -0.5px;
    }
    a:hover {
      background: $backgroundTurbo;
      color: $colorWoodsmoke;
    }
  }
}
.header-menu {
  max-width: 1170px;
  height: 120px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header-menu-logo {
    position: relative;
    .logo::before {
      background: url("../images/logo.png") no-repeat;
      background-size: cover;
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 51px;
      height: 51px;
    }
    .logo::after {
      background: url("../images/logo-txt.png") no-repeat;
      background-size: cover;
      content: "";
      position: absolute;
      top: 25px;
      left: 70px;
      width: 132px;
      height: 18px;
    }
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-nav-list {
      display: flex;
      align-items: center;
      li {
        margin: 12px 23px;
        letter-spacing: 0.1px;
        position: relative;
        a {
          text-decoration: none;
          color: $colorGray;
        }
        a:before {
          content: "";
          position: absolute;
          height: 40px;
          width: calc(100% + 40px);
          top: -11px;
          left: -20px;
          border: 1px solid #ffe600;
          display: none;
        }
      }
      li:hover > a::before {
        display: inline-block;
      }
    }
  }
}

// End header
