// $colorBaliHai: #8297a7;
$colorWhite: #fff;
$colorNevada: #656e74;
$colorAtlantis: #a2ca28;
$colorBurger: #000;
$colorPersimmon: #fd634e;
$backgroundWhite: #fff;
$backgroundAtlantis: #a2ca28;
$backgroundPersimmon: #fd634e;
