$colorWhite: #ffffff;
$colorTurbo: #ffe600;
$colorGray: #8e8e8e;
$colorWoodsmoke: #131316;

$backgroundWhite: #ffffff;
$backgroundTurbo: #ffe600;
$backgroundWoodsmoke: #131316;
$backgroundJumbo: #89898b;
$backgroundConcrete: #f3f3f3;
$backgroundShipGray: #424245;
